@font-face {
  font-family: 'KaushanScriptRegular';
  src: url('../fonts/KaushanScript/KaushanScriptRegular/KaushanScriptRegular.eot');
  src: url('../fonts/KaushanScript/KaushanScriptRegular/KaushanScriptRegular.woff') format('woff'), url('../fonts/KaushanScript/KaushanScriptRegular/KaushanScriptRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
body {
  font-family: 'Roboto', sans-serif;
}
img {
  max-width: 100%;
}
.sect-main {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
  background-color: #3f60c61a;
}
.mainForm {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  border: 2px solid #fff;
  text-align: center;
}
.wrap {
  padding: 10px 15px;
}
.wrap label {
  display: block;
  font-style: 24px;
  padding: 15px;
  background-color: #0494de8c;
  margin-bottom: 10px;
}
.list {
  width: 60%;
  margin: 0 auto;
}
.list li {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #4455;
  background-color: #8373ff33;
}
.list li input[type="checkbox"] {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.list li i {
  font-size: 20px;
  color: #eb6e6c;
  cursor: pointer;
}
.has-error {
  border: 2px solid #eb6e6c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input {
  padding: 10px;
  border: 2px solid #8373ff;
}
#inputText {
  width: 80%;
}
#addButton {
  width: 50%;
}
